<!DOCTYPE html>
{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <!-- division 1 -->
    <div class="box-element">
      <a class="btn btn-outline-secondary" href="{% url 'store' %}"
        >&#x2190;Continue Shopping</a
      >
      <br /><br />
      <!--  issue: video1, time 44:00; but why is the table/ horizontal bar showing below the items, total ??? -->
      <!-- table to show: total items, price cost -->
      <table class="table">
        <tr>
          <th>
            <h5>Items:<strong>{{ order.get_cart_items }}</strong></h5>
          </th>
          <th>
            <h5>Total:<strong>${{ order.get_cart_total }}</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px"
              class="btn btn-success"
              href="{% url 'checkout' %}"
              >Go to checkout</a
            >
          </th>
        </tr>
      </table>
    </div>
    <br /><br />
    <!-- division 2 -->
    <div class="box-element">
      <div class="cart-row">
        <!-- first div is for image -->
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Item</strong></div>

        <!-- as price won't take much size, we keep the flex:1 -->
        <div style="flex: 1"><strong>Price</strong></div>
        <div style="flex: 1"><strong>Quantity</strong></div>
        <div style="flex: 1"><strong>Total</strong></div>
      </div>

      <!-- it will show the items in the list now: for checkout -->
      {% for item in items %}
      <div class="cart-row">
        <!-- first div is for image -->
        <div style="flex: 2">
          <img class="row-image" src="{{ item.product.imageURL}}" />
        </div>
        <div style="flex: 2">{{ item.product.name }}</div>
        <div style="flex: 1">{{ item.product.price | floatformat:2 }}</div>
        <!-- quantity class: to add the arrow-up and arrow-down images -->
        <div style="flex: 1">
          <p class="quantity">{{ item.quantity }}</p>
          <div class="quantity">
            <img
              class="chg-quantity"
              src="{% static 'images/arrow-up.png' %}"
            />
            <img
              class="chg-quantity"
              src="{% static 'images/arrow-down.png' %}"
            />
          </div>
        </div>
        <div style="flex: 1">{{ item.get_total }}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock content %}
</div>
