<!DOCTYPE html>
{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <!--   product.image.url will render the product images but now, we have defined
    a property in Product class called imageURL, that will render the
    images without crashing the page, when corresponding url is missing -->
    <img class="thumbnail" src="{{ product.imageURL }}" />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />
      <button
        data-product="{{product.id}}"
        data-actions="add"
        type="button"
        class="btn btn-outline-primary add-btn update-cart"
      >
        Add to Cart
      </button>
      <a class="btn btn-success" href="#">View</a>

      <!-- issue :  a warning message shows that 'float : right' has been ignored.-->
      <h4 style="display: inline-block; float: right">
        ${{product.price | floatformat:2}}
      </h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
